**Sulaiman Mathew-Wilson** <br>
**003133656** <br>
**Intro to Data Science** <br>
**Dr. Nerolu** <br>
**31 October 2025**
# Global Earthquake & Tsunami Tracking
## Dataset sourced from Kagle:
https://www.kaggle.com/datasets/ahmeduzaki/global-earthquake-tsunami-risk-assessment-dataset <br>
This dataset contains the seismic characteristics of earthquakes and potential indicators for tsunamis globally from 2001 to 2022. This data can have many important use-cases in our real world, whether it be for tsunami risk prediction, earthquake analysis, or seismic hazard assessment applications.

### Column Guide
magnitude = Earthquake magnitude from 6.5 - 9.1 <br>
cdi	= Community Decimal Intensity (the felt intensity) from 0 - 9 <br>
mmi	= Modified Mercalli Intensity, ranging from 1 - 9 <br>
sig	= Event significance score from 650 - 2910 <br>
nst	= Number of seismic monitoring stations	from 0 - 934 <br>
dmin =	Distance to nearest seismic station 0.0 - 17.7 <br>
gap	= Azimuthal gap between stations 0.0 - 239.0 <br>
depth =	Earthquake focal depth in km, ranging from 2.7 - 670.8 <br>
latitude = Epicenter latitude -61.85째 to 71.63째	<br>
longitude = Epicenter longitude -179.97째 to 179.66째	<br>
Year = Year of occurrence from 2001 - 2022 <br>
Month =	Month of occurrence	from 1 (January) to 12 (December) <br>
tsunami	= Tsunami potential, either 0 or 1

In [7]:
import numpy as np
import pandas as pd
df = pd.read_csv("earthquake_data_tsunami.csv")
print(df)

     magnitude  cdi  mmi  sig  nst   dmin   gap    depth  latitude  longitude  \
0          7.0    8    7  768  117  0.509  17.0   14.000   -9.7963    159.596
1          6.9    4    4  735   99  2.229  34.0   25.000   -4.9559    100.738
2          7.0    3    3  755  147  3.125  18.0  579.000  -20.0508   -178.346
3          7.3    5    5  833  149  1.865  21.0   37.000  -19.2918   -172.129
4          6.6    0    2  670  131  4.998  27.0  624.464  -25.5948    178.278
..         ...  ...  ...  ...  ...    ...   ...      ...       ...        ...
777        7.7    0    8  912  427  0.000   0.0   60.000   13.0490    -88.660
778        6.9    5    7  745    0  0.000   0.0   36.400   56.7744   -153.281
779        7.1    0    7  776  372  0.000   0.0  103.000  -14.9280    167.170
780        6.8    0    5  711   64  0.000   0.0   33.000    6.6310    126.899
781        7.5    0    7  865  324  0.000   0.0   33.000    6.8980    126.579

     Year  Month  tsunami
0    2022     11        1
1    2022     11        0
2    2022     11        1
3    2022     11        1
4    2022     11        1
..    ...    ...      ...
777  2001      1        0
778  2001      1        0
779  2001      1        0
780  2001      1        0
781  2001      1        0

[782 rows x 13 columns]

In [8]:
print(df.shape)

(782, 13)

In [9]:
print(df.head())

   magnitude  cdi  mmi  sig  nst   dmin   gap    depth  latitude  longitude  \
0        7.0    8    7  768  117  0.509  17.0   14.000   -9.7963    159.596
1        6.9    4    4  735   99  2.229  34.0   25.000   -4.9559    100.738
2        7.0    3    3  755  147  3.125  18.0  579.000  -20.0508   -178.346
3        7.3    5    5  833  149  1.865  21.0   37.000  -19.2918   -172.129
4        6.6    0    2  670  131  4.998  27.0  624.464  -25.5948    178.278

   Year  Month  tsunami
0  2022     11        1
1  2022     11        0
2  2022     11        1
3  2022     11        1
4  2022     11        1

In [10]:
print(df.tail())

     magnitude  cdi  mmi  sig  nst  dmin  gap  depth  latitude  longitude  \
777        7.7    0    8  912  427   0.0  0.0   60.0   13.0490    -88.660
778        6.9    5    7  745    0   0.0  0.0   36.4   56.7744   -153.281
779        7.1    0    7  776  372   0.0  0.0  103.0  -14.9280    167.170
780        6.8    0    5  711   64   0.0  0.0   33.0    6.6310    126.899
781        7.5    0    7  865  324   0.0  0.0   33.0    6.8980    126.579

     Year  Month  tsunami
777  2001      1        0
778  2001      1        0
779  2001      1        0
780  2001      1        0
781  2001      1        0

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 782 entries, 0 to 781
Data columns (total 13 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   magnitude  782 non-null    float64
 1   cdi        782 non-null    int64
 2   mmi        782 non-null    int64
 3   sig        782 non-null    int64
 4   nst        782 non-null    int64
 5   dmin       782 non-null    float64
 6   gap        782 non-null    float64
 7   depth      782 non-null    float64
 8   latitude   782 non-null    float64
 9   longitude  782 non-null    float64
 10  Year       782 non-null    int64
 11  Month      782 non-null    int64
 12  tsunami    782 non-null    int64
dtypes: float64(6), int64(7)
memory usage: 79.6 KB

#### All data types are numerical, either integers or floats
##### All of the data makes sense being numerical, but it could also make sense for the month column to be converted to a string

In [18]:
summary = df.describe()
print(summary)

        magnitude         cdi         mmi          sig         nst  \
count  782.000000  782.000000  782.000000   782.000000  782.000000
mean     6.941125    4.333760    5.964194   870.108696  230.250639
std      0.445514    3.169939    1.462724   322.465367  250.188177
min      6.500000    0.000000    1.000000   650.000000    0.000000
25%      6.600000    0.000000    5.000000   691.000000    0.000000
50%      6.800000    5.000000    6.000000   754.000000  140.000000
75%      7.100000    7.000000    7.000000   909.750000  445.000000
max      9.100000    9.000000    9.000000  2910.000000  934.000000

             dmin         gap       depth    latitude   longitude  \
count  782.000000  782.000000  782.000000  782.000000  782.000000
mean     1.325757   25.038990   75.883199    3.538100   52.609199
std      2.218805   24.225067  137.277078   27.303429  117.898886
min      0.000000    0.000000    2.700000  -61.848400 -179.968000
25%      0.000000   14.625000   14.000000  -14.595600  -71.668050
50%      0.000000   20.000000   26.295000   -2.572500  109.426000
75%      1.863000   30.000000   49.750000   24.654500  148.941000
max     17.654000  239.000000  670.810000   71.631200  179.662000

              Year       Month     tsunami
count   782.000000  782.000000  782.000000
mean   2012.280051    6.563939    0.388747
std       6.099439    3.507866    0.487778
min    2001.000000    1.000000    0.000000
25%    2007.000000    3.250000    0.000000
50%    2013.000000    7.000000    0.000000
75%    2017.000000   10.000000    1.000000
max    2022.000000   12.000000    1.000000

#### The min and max represent the smallest and largest values in each column, while the mean is the average, and the standard deviation measures how spread out the data is from the mean
##### After analyzing this data, I found no unusual or inconsistent values

In [16]:
print("Missing values in each column:")
print(df.isnull().sum())

Missing values in each column:
magnitude    0
cdi          0
mmi          0
sig          0
nst          0
dmin         0
gap          0
depth        0
latitude     0
longitude    0
Year         0
Month        0
tsunami      0
dtype: int64

#### There is no missing data or duplicate rows in this data set

In [33]:
income_categories = ["low-income", "lower-middle-income", "upper-middle-income", "high-income"]
num_complete_sets = len(df) // 4
remainder = len(df) % 4
df["inc"] = income_categories * num_complete_sets + income_categories[:remainder]
del df["new column"]
print(df.head())

   magnitude  cdi  mmi  sig  nst   dmin   gap    depth  latitude  longitude  \
0        7.0    8    7  768  117  0.509  17.0   14.000   -9.7963    159.596
1        6.9    4    4  735   99  2.229  34.0   25.000   -4.9559    100.738
2        7.0    3    3  755  147  3.125  18.0  579.000  -20.0508   -178.346
3        7.3    5    5  833  149  1.865  21.0   37.000  -19.2918   -172.129
4        6.6    0    2  670  131  4.998  27.0  624.464  -25.5948    178.278

   Year  Month  tsunami                  inc
0  2022     11        1           low-income
1  2022     11        0  lower-middle-income
2  2022     11        1  upper-middle-income
3  2022     11        1          high-income
4  2022     11        1           low-income

#### This new column represents the income classification of the impacted country according to world bank data

In [36]:
filtered_magnitude = df[df['magnitude'] > 8.0]
filtered_cdi = df[df['cdi'] > 7.0]
print(filtered_magnitude)
print(filtered_cdi)

     magnitude  cdi  mmi   sig  nst   dmin   gap   depth  latitude  longitude  \
56        8.10    0    7  1009    0  7.463  78.0   22.79  -58.4157   -25.3206
59        8.20    8    6  1237    0  0.875  66.0   46.66   55.4742  -157.9170
60        8.20    8    7  1252    0  0.000   0.0   35.00   55.3154  -157.8290
74        8.10    9    8  1021    0  0.739  21.0   28.93  -29.7466  -177.2240
170       8.20    5    4  1050    0  3.630  13.0  600.00  -18.1125  -178.1530
198       8.20    9    7  2910    0  0.944  22.0   47.39   15.0222   -93.8993
285       8.30    9    8  1960    0  0.684  19.0   22.44  -31.5729   -71.6744
356       8.20    9    8  1332    0  0.609  23.0   25.00  -19.6097   -70.7691
393       8.30    5    5  1115  385  0.000  10.0  598.10   54.8920   153.2210
440       8.20    9    6  1213  341  0.000  14.9   25.10    0.8020    92.4630
441       8.60    9    7  2048  499  0.000  16.6   20.00    2.3270    93.0630
476       9.10    9    8  2184  541  0.000   9.5   29.00   38.2970   142.3730
517       8.80    8    8  1991  454  0.000  17.8   22.90  -36.1220   -72.8980
535       8.10    7    6  1055  520  0.000  20.8   18.00  -15.4890  -172.0950
593       8.40    0    6  1086  411  0.000  32.3   34.00   -4.4380   101.3670
606       8.10    9    8  1025  439  0.000  14.7   24.00   -8.4660   157.0430
611       8.10    4    5  1034  606  0.000  14.0   10.00   46.2430   154.5240
614       8.30    4    7  1064  576  0.000  20.9   10.00   46.5920   153.2660
657       8.60    0    8  1138  510  0.000  22.1   30.00    2.0850    97.1080
668       9.10    0    8  1274  601  0.000  22.0   30.00    3.2950    95.9820
669       8.10    0    5  1009  331  0.000  59.3   10.00  -49.3120   161.3450
712       8.16    0    9  1024    0  0.000   0.0   27.00   41.8150   143.9100
767       8.40    0    8  1086  518  0.000   0.0   33.00  -16.2650   -73.6410

     Year  Month  tsunami                  inc
56   2021      8        0           low-income
59   2021      7        1          high-income
60   2021      7        1           low-income
74   2021      3        1  upper-middle-income
170  2018      8        1  upper-middle-income
198  2017      9        1  upper-middle-income
285  2015      9        1  lower-middle-income
356  2014      4        1           low-income
393  2013      5        1  lower-middle-income
440  2012      4        0           low-income
441  2012      4        0  lower-middle-income
476  2011      3        0           low-income
517  2010      2        0  lower-middle-income
535  2009      9        0          high-income
593  2007      9        0  lower-middle-income
606  2007      4        0  upper-middle-income
611  2007      1        0          high-income
614  2006     11        0  upper-middle-income
657  2005      3        0  lower-middle-income
668  2004     12        0           low-income
669  2004     12        0  lower-middle-income
712  2003      9        0           low-income
767  2001      6        0          high-income
     magnitude  cdi  mmi   sig  nst   dmin   gap    depth  latitude  \
0          7.0    8    7   768  117  0.509  17.0   14.000   -9.7963
8          6.8    8    7  1179  175  2.137  92.0   20.000   18.3300
9          7.6    9    8  1799  271  1.153  69.0   26.943   18.3667
10         6.9    9    9   887  215  0.401  34.0   10.000   23.1444
13         7.6    8    8   965  272  3.158  12.0  116.000   -6.2237
..         ...  ...  ...   ...  ...    ...   ...      ...       ...
645        7.5    8    7  1018  696  0.000  26.2  115.000   -5.6780
652        7.8    8    7  1020  714  0.000  16.1  115.600  -19.9870
658        6.6    8    7   805  401  0.000  22.9   10.000   33.8070
675        7.2    8    8   820  708  0.000  50.2   15.000    4.6950
730        7.9    8    9  1750    0  0.000   0.0    4.200   63.5141

     longitude  Year  Month  tsunami                  inc
0      159.596  2022     11        1           low-income
8     -102.913  2022      9        1           low-income
9     -103.252  2022      9        1  lower-middle-income
10     121.307  2022      9        1  upper-middle-income
13     146.471  2022      9        1  lower-middle-income
..         ...   ...    ...      ...                  ...
645    -76.398  2005      9        0  lower-middle-income
652    -69.197  2005      6        0           low-income
658    130.131  2005      3        0  upper-middle-income
675    -77.508  2004     11        0          high-income
730   -147.453  2002     11        0  upper-middle-income

[152 rows x 14 columns]

#### I created these two subsets because I wanted to examine the specific instances where earthquakes had the highest magnitudes and the greatest intensities were felt by humans

### Categorical columns:
* tsunami: 2 categories (0, 1)
* Year: 22 categories (2001-2022)
* Month: 12 categories (1-12)
#### These categorical variables are important for analysis and/or grouping because this allows for earthquakes to be compared by whether they caused tsunamis, as well as whether there is a strong correlation between date of the disaster
---

# Initial Observations:
Through part 1 of this project, I was able to do some really interesting initial exploration into this dataset. One thing that I found particularly interesting is the relationship between earthquake characteristics and tsunami occurrence. Not as many significant earthquakes resulted in tsunamis as I had thought there would, which suggests how complex factors beyond just magnitude determine tsunami risk. Looking at this dataset made me wonder why some powerful earthquakes do not generate tsunamis while smaller ones do, and if there are seasonal patterns in earthquake occurrence.
What you found interesting about this dataset.