# Average Temperatures in Washington, D.C. #

In [1]:
import numpy as np
import pandas as pd
df = pd.read_csv("Temp_DC.csv")
print(df)

           STATION                                     NAME        DATE  TAVG
0      US1MDMG0109             SILVER SPRING 2.1 NNE, MD US  2018-01-01   NaN
1      US1MDMG0109             SILVER SPRING 2.1 NNE, MD US  2018-01-02   NaN
2      US1MDMG0109             SILVER SPRING 2.1 NNE, MD US  2018-01-03   NaN
3      US1MDMG0109             SILVER SPRING 2.1 NNE, MD US  2018-01-04   NaN
4      US1MDMG0109             SILVER SPRING 2.1 NNE, MD US  2018-01-05   NaN
...            ...                                      ...         ...   ...
35695  USC00448084  WEATHER FORECAST OFFICE STERLING, VA US  2018-12-27   NaN
35696  USC00448084  WEATHER FORECAST OFFICE STERLING, VA US  2018-12-28   NaN
35697  USC00448084  WEATHER FORECAST OFFICE STERLING, VA US  2018-12-29   NaN
35698  USC00448084  WEATHER FORECAST OFFICE STERLING, VA US  2018-12-30   NaN
35699  USC00448084  WEATHER FORECAST OFFICE STERLING, VA US  2018-12-31   NaN

[35700 rows x 4 columns]

In [13]:
print(df.shape)

(35700, 4)

In [14]:
print(df.head())

       STATION                          NAME        DATE  TAVG
0  US1MDMG0109  SILVER SPRING 2.1 NNE, MD US  2018-01-01   NaN
1  US1MDMG0109  SILVER SPRING 2.1 NNE, MD US  2018-01-02   NaN
2  US1MDMG0109  SILVER SPRING 2.1 NNE, MD US  2018-01-03   NaN
3  US1MDMG0109  SILVER SPRING 2.1 NNE, MD US  2018-01-04   NaN
4  US1MDMG0109  SILVER SPRING 2.1 NNE, MD US  2018-01-05   NaN

In [15]:
print(df.tail())

           STATION                                     NAME        DATE  TAVG
35695  USC00448084  WEATHER FORECAST OFFICE STERLING, VA US  2018-12-27   NaN
35696  USC00448084  WEATHER FORECAST OFFICE STERLING, VA US  2018-12-28   NaN
35697  USC00448084  WEATHER FORECAST OFFICE STERLING, VA US  2018-12-29   NaN
35698  USC00448084  WEATHER FORECAST OFFICE STERLING, VA US  2018-12-30   NaN
35699  USC00448084  WEATHER FORECAST OFFICE STERLING, VA US  2018-12-31   NaN

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35700 entries, 0 to 35699
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   STATION  35700 non-null  object
 1   NAME     35700 non-null  object
 2   DATE     35700 non-null  object
 3   TAVG     1095 non-null   float64
dtypes: float64(1), object(3)
memory usage: 1.1+ MB

In [18]:
summary = df.describe()
print(summary)

              TAVG
count  1095.000000
mean     14.124384
std       9.969536
min     -11.300000
25%       5.500000
50%      14.100000
75%      23.500000
max      31.400000

In [20]:
print(df.isnull())

       STATION   NAME   DATE  TAVG
0        False  False  False  True
1        False  False  False  True
2        False  False  False  True
3        False  False  False  True
4        False  False  False  True
...        ...    ...    ...   ...
35695    False  False  False  True
35696    False  False  False  True
35697    False  False  False  True
35698    False  False  False  True
35699    False  False  False  True

[35700 rows x 4 columns]

In [28]:
print("Missing values in each column:")
print(df.isnull().sum())

Missing values in each column:
STATION        0
NAME           0
DATE           0
TAVG       34605
dtype: int64

In [29]:
print("Percentage of missing values in each column:")
print((df.isnull().sum() / len(df)) * 100)

Percentage of missing values in each column:
STATION     0.000000
NAME        0.000000
DATE        0.000000
TAVG       96.932773
dtype: float64

In [31]:
df_clean = df.copy()
print(f"Original df shape: {df.shape}")
print(f"New df_clean shape: {df_clean.shape}")

Original df shape: (35700, 4)
New df_clean shape: (35700, 4)

In [40]:
df_clean['DATE'] = pd.to_datetime(df_clean['DATE'])
df_clean['MONTH'] = df_clean['DATE'].dt.month
print("Added MONTH column based on DATE")
print(df_clean[['DATE', 'MONTH']].head())
print(df_clean[['DATE', 'MONTH']].tail())

Added MONTH column based on DATE
        DATE  MONTH
0 2018-01-01      1
1 2018-01-02      1
2 2018-01-03      1
3 2018-01-04      1
4 2018-01-05      1
            DATE  MONTH
35695 2018-12-27     12
35696 2018-12-28     12
35697 2018-12-29     12
35698 2018-12-30     12
35699 2018-12-31     12

In [35]:
df_filtered = df_clean.dropna(subset=['TAVG'])
print(f"Filtered data (non-null TAVG): {df_filtered.shape}")

Filtered data (non-null TAVG): (1095, 6)